@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-fluid{
  position: absolute;
}

