/*
	App by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", "sans-serif";
}

html {
  overflow-x: hidden;
}

.body{
  position: relative;
}

/* ==========================================================================================================
                                                FIRST SLIDE - HOME PAGE
========================================================================================================== */

#harden-wrapper {
  height: 700px;
  width: 100%;
  background: url(../img/website_png.png);
}

.main-navbar-nav .navbar-brand {
  font-size: 28px;
  letter-spacing: 4px;
  position: relative;
  top: -3px;
  font-weight: 500;
}

.main-navbar-nav {
  color: #fff !important;
}
.main-navbar-nav li {
  color: #fff;
  opacity: .7;
}
.main-navbar-nav .navbar-nav .nav-item a:hover {
  color: #2cec46 !important;
  -webkit-transition: all .33s ease;
  -moz-transition: all .33s ease;
  -o-transition: all .33s ease;
  -ms-transition: all .33s ease;
  transition: all .33s ease;
}
.main-navbar-nav .active {
  color: #fff !important;
  opacity: 1 !important;
}
.main-navbar-nav a {
  color: #fff !important;
}
.main-navbar-nav .nav-link {
  opacity: 1 !important;
  margin: 0 35px;
  font-size: 14.5px;
  font-weight: 500;
}

.harden-inner{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.harden-inner h1{
  color: #fff;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: 2px;
}

.harden-inner .first-line{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.harden-inner .second-line{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex-column{
  margin-top: 40px;
}

.harden-inner img{
  height: 500px;
  width: 800px;
  align-self: center;
  margin-top: 30px;
  margin-left: 20px;
}


@media screen and (max-width: 1000px) {
  .harden-inner h1{
    font-size: 30px;
  }
}

@media screen and (max-width: 520px) {
  .harden-inner h1{
    font-size: 25px;
  }
}

/* ==========================================================================================================
                                                SECOND PAGE
========================================================================================================== */
.harden2 .grid-title{
  font-size: 18px;
}

.harden2 img{
  height: 60px;
}

.harden2 .col-sm-4 {
  
  width: 100%;
  max-width: 100%;
  margin: 280px auto;
  text-align: center;
  font-size: 14px;
}

/* ==========================================================================================================
                                                THIRD PAGE
========================================================================================================== */

.curved-bg-div {
  background: url("../img/curved-bg.png") no-repeat;
  background-position: -0px -100px;
  margin-top: -270px;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.harden3 .col-sm-6 img {
  height: 400px;
  margin-top: -20px;
}
.harden3 .sm-6-content {
  margin-top: -120px;
  position: relative;
}
.harden3 h1 {
  color: #0ba012;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: -30px;
}

.harden3 .sm-6-content p {
  color: #111;
  font-weight: 1800;
  font-size: 14.5px;
  line-height: 1.8em;
  width: 450px;
}

.harden3 .col-sm-6 .col-sm-image-container {
  position: relative;
  top: 80px;
  width: 300px;
}

.harden3 a{
  text-decoration: none;
  color: #111;
}

.harden3 a:hover{
  color: #2cec46;
}

/* ==========================================================================================================
                                                FOURTH PAGE
========================================================================================================== */
.harden4 .contact-us h1{
  color: #0ba012;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 100px;
}

.harden4 .btn{
  margin-top: 150px;
  margin-right: 10px;
  margin-left: 10px;
}

/* ==========================================================================================================
                                                FIFTH PAGE
========================================================================================================== */
.harden5 h1{
  color: #0ba012;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 100px;
}

.harden5 .testimonial-desc{
  clear: both;
  text-align: center;
  padding-top: 30px;
  font-weight: 500;
}

.harden5 .testimonial-2{
  margin: 80px;
}

/* ==========================================================================================================
                                                SIXTH PAGE - FOOTER
========================================================================================================== */
.harden-footer{
  background: url(../img/footer.png);
  height: 50vh;
  width: 100%;
}

.harden-footer h1{
  color: #d8f1dc;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 50px;
}

.harden-footer img{
  size: 10px;
}



/* ==========================================================================================================
                                                SECOND PAGE
========================================================================================================== */

/* ==========================================================================================================
                                                
========================================================================================================== */

/* ==========================================================================================================
                                                FEATURES - FIRST PAGE
========================================================================================================== */
.flex-features{
  height: 90vh;
}

.flex-features h1{
  text-align: center;
  margin-top: 30px;
}

.contents{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contents .btn{
  justify-content: center;
  margin: 10px;
  width: 180px;
}

/* ==========================================================================================================
                                                FEATURES - FIRST PAGE
========================================================================================================== */
.hardenf-2{
  height: 100vh;
}

.hardenf-2 .curved-bg-div {
  background: url("../img/curved-bg-f.jpg") no-repeat;
  background-position: -0px -100px;
  margin-top: -30px;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.hardenf-2 h1{
  text-align: center;
  margin-top: -90px;
  margin-bottom: 60px;
}

.slider{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle{
  height: 140px;
  width: 140px;
  background-color: #bbb;
  border-radius: 50%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* ==========================================================================================================
                                                FEATURES - FIRST PAGE
========================================================================================================== */
.hardenf3{
  height: 100vh;
  background: rgb(224, 220, 50);
}

.hardenf3 h1{
  text-align: center;
}